/* Обнуление */
*,
::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

html, body{
    font-family: Montserrat;
}

image {
    vertical-align: top;
}

h1, h2 ,h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: #000;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Шапка */

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #fff;
}

.header-body {
    position: relative;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
    position: relative;
    z-index: 3;
}

.header-list li {
    list-style: none;
    margin-left: 20px;
}

.header-link {
    color:#000;
    font-size: 18px;
    padding: 0 5px;
}

.header-logo {
    font-size: 24px;
    font-weight: 500;
    color:#000;
    z-index: 3;
}

.header-burger {
    display: none;
}

/* HOME */

.home {
    position: relative;
    min-height: 740px;
    padding-top: 100px;
}

.home-content {
    z-index: 2;
}

.home-heading {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #fff;
    max-width: 486px;
    padding-top: 100px;
    padding-bottom: 25px;
}

.home-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    max-width: 498px;
}

.home-btn {
    width: 213px;
    height: 55px;
    background: #015E20;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-top: 25px;
    border-radius: 10px;
    cursor: pointer;
}

.btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 55px;
    color: #fff;
}

.home-info {
    display: flex;
    justify-content: space-between;
    width: 472px;
    height: 82px;
    margin-top: 70px;
    margin-bottom: 130px;
}

.home-item  {
    width: 134px;
    background: rgba(0, 0, 0, 0.3);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #fff;
}

.home-item p {
    margin-top: 18px;
}

.home-span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.home-bg-img {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.home-bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-blur {
    position: absolute;
    top: 100px;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.27);
    box-shadow: inset -2px -3px 20px 2px rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(16px);

}

body.lock {
    overflow: hidden;
}

/* SERVICES */

.services {
    padding-top: 300px;
    padding-bottom: 15px;
}

.services-container {
    display: flex;

}
.services-body {
    padding-right: 66px;
}
.services-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 122%;
    padding-bottom: 65px;
}

.services-list {
    list-style: disc;
    font-size: 18px;
    line-height: 150%;
    font-weight: 300;
    width: 315px;
}

.flex-wraper {
    margin-left: 170px;
}

.services-slider {
    display: flex;
    justify-content: space-between;
}

.slide{
    display: none;
    width: 348px;
    height: 556px;
}

.slide.active {
    display: block;
    transition: all 0.2s ease 0s;
}

#btn-prev {
    margin-right: 40px;
    cursor: pointer;
}

#btn-next {
    margin-left: 40px;
    cursor: pointer;
}

.dots-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot.active {
    background-color: #000;
}

.dots-wrapper span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray; 
    margin-right: 10px;
    cursor: pointer;
}

/* PROS */

.pros {
    padding-top: 10px;
    padding-bottom: 150px;
}

.pros-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 123%;
    padding-top: 150px;
    text-align: center;
}

.pros-content {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pros-content-item {
    display: flex;
    width: 48%;
    height: 215px;
    border: 2px solid rgba(5, 147, 53, 0.95);
    box-sizing: border-box;
}

.pros-img1 {
    width: 62px;
    height: 65px;
    margin-right: 53px;
    margin-left: 10%;
    margin-top: 12%;
}

.pros-img2 {
    width: 82px;
    height: 72px;
    margin-right: 53px;
    margin-left: 10%;
    margin-top: 12%;
}

.pros-img3 {
    width: 94px;
    height: 49px;
    margin-right: 9%;
    margin-left: 5%;
    margin-top: 15%;
}

.pros-img4 {
    width: 80px;
    height: 70px;
    margin-right: 53px;
    margin-left: 10%;
    margin-top: 12%;
}

.pros-subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 3%;
}

.pros-item-text {
    font-size: 16px;
    font-weight: 400;
}

.pros-text {
    margin-top: 10%;
    margin-right: 3%;
}

/* ABOUT US */
.about_us {
    position: relative;
}

.about_us-content {
    width: 547px;
    z-index: 2;

}

.about_us-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 122%;
    padding-top: 152px;
    margin-bottom: 63px;
    color: #fff;
}

.about_us-a {
    color: green;
}

.about_us-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    margin-bottom: 30px;
    color: #fff;
}

.about_us-list {
    list-style-type: "- ";
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    padding-bottom: 152px;
    color: #fff;
}

.about-list-item {
    margin-top: 15px;
}

.about_us-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -2;
}

.about_us-black {
    position: absolute;
    height: 100%;
    width: 85%;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(89.71deg, rgba(19, 17, 16, 0.98) 19.4%, rgba(10, 9, 8, 0.81) 43.71%, rgba(0, 0, 0, 0) 74.45%);
}

/* INFO */

.info {
    padding-bottom: 75px;
    padding-top: 150px;
}

.title {
    margin-bottom: 63px;
    font-weight: 600;
    font-size: 36px;
    line-height: 122%;
    text-align: center;
}

.info__item__number {
    position: relative;
    font-weight: 600;
    font-size: 160px;
    line-height: 150%;
    background: linear-gradient(158.8deg, #036B26 7.59%, rgba(5, 147, 53, 0.15) 75.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.info__line {
    display: flex;
    justify-content: space-between;
}

.info__item {
    width: 30%;
    display: flex;
    margin-bottom: 60px;
}

.info__item__task {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.025em;
    padding-bottom: 20px;
}

.info__item__text {
    position: absolute;
    margin-left: 44px;
    max-width: 300px;
    padding-top: 100px;
}

.info__item__about {
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
}

/* PORTFOLIO */

.portfolio {
    padding-bottom: 75px;
    padding-top: 75px;
}

.portfolio-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.portfolio-item {
    width: 48%;
    height: 450px;
    border: 2px solid rgba(5, 147, 53, 0.95);
    box-sizing: border-box;
}

.portfolio-item-image {
    margin: 43px 43px 25px 43px;
}

.portfolio-item-image img {
    width: 100%;
    height: 100%;
}

.portfolio-item-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    margin-left: 43px;
    margin-bottom: 15px;
}

.portfolio-item-more {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 120%;
    margin-left: 43px;
    color: #000;
}

/* FORM */

.form {
    padding-top: 75px;
    padding-bottom: 75px;
}

.form-content {
    min-height: 434px;
    background-color: #035B21;
}

.form-content-title {
    color: #fff;
    padding-top: 60px;
    text-align: start;
    padding-left: 189px;
}

.form-data1 {
    margin-left: 161px;
}

.form-data2 {
    margin-left: 161px;
    margin-top: 67px;
}

.form-input {
    width: 350px;
    height: 30px;
    background: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px solid #fff;
    margin-left: 29px;
}

.form-btn {
    width: 172px;
    height: 44px;
    border: 1px solid #fff;
    text-align: center;
    margin-left: 190px;
    margin-top: 47px;
    cursor: pointer;
}

.form-btn-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    margin-top: 12px;
}

/* FOOTER */

.footer {
    margin-top: 75px;
    min-height: 450px;
    background-color: #035B21;
    position: relative;
}

.footer-content {
    display: flex;
}

.footer-text {
    width: 60%;
}

.footer-map {
    width: 40%;
    position: relative;
}

.footer-img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.footer-logo {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #fff;
    margin-top: 70px;
}

.footer-info {
    margin-top: 45px;
    display: flex;
}

.footer-list1 {
    list-style: none;
    padding-right: 17px;
}

.footer-link1 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
}

.footer-list2 {
    list-style: none;
    padding-left: 17px;
    padding-right: 17px;
    max-width: 236px;
    line-height: 21px;
    padding-top: 5px;
}

.footer-link2 {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}

.footer-link3 {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 18px;
    color: #035B21;
}

.footer-list3 {
    list-style: none;
    padding-left: 17px;
    max-width: 196px;
    line-height: 21px;
    padding-top: 45px;
}

.footer-link4 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.footer-col-2 {
    display: flex;
}

.footer-map-tab {
    display: none;
    height: 291px;
}

.footer-tab-img,
.footer-mob-img {
    width: 100%;
    height: 100%;
}

.footer-map-mob {
    display: none;
    height: 202px;
}

/* POPUP */

.popup {
    position: fixed;
    z-index: 70;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.open {
    opacity: 1;
    visibility: visible;
}

.popup-content {
    background-color: #fffbf8;
    color: #000;
    max-width: 520px;
}

.popup-body {
    position: relative;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    
}

.popup-close {
    margin-left: 93%;
    margin-top: 3%;
    cursor: pointer;
}

.popup-title {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    padding: 70px 144px 32px 129px ;
}

.popup-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.popup-input {
    width: 368px;
    height: 39px;
    margin-top: 12px;
    border: 1px solid #000000;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.78);
    font-family: Montserrat;
}

.popup-btn {
    width: 210px;
    height: 46px;
    background-color: #000;
    color: #fff;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px 155px 70px 150px;
}

.popup-in {
    padding: 12px 76px;
}

.popup-comp {
    z-index: 90;
}

.popup-nt {
    transition: none;
}

.popup-comp-title {
    padding: 135px 76px 9px 76px ;
    text-align: center;
}

.popup-comp-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.04em;
    padding-top: 9px;
    padding-bottom: 169px;
}



/* MEDIA */

@media screen and (max-width: 992px) {
    
    .container {
        width: 720px;
    }

    .header {
        position: fixed;
    }


    .header-body {
        height: 80px;
    }

    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    
    .header-burger span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.2s ease 0s;
    }

    .header-burger:before,
    .header-burger:after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.2s ease 0s;
    }

    .header-burger:before {
        top: 0;
    }

    .header-burger:after {
        bottom: 0;
    }

    .header-burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header-burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header-burger.active span {
        transform: scale(0);
    }

    .header-menu {
        position: fixed;
        top: -100%;
        right: 0;
        width: 300px;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        padding-top: 100px;
        transition: all 0.2s ease-in-out 0s;
    }

    .header-menu.active {
        top: 0;
    }

    .header-list {
        display: block;
        line-height: 80px;
        padding-left: 30px;
    }

    .header-link {
        border-bottom: 1px solid green;
    }

    .home-bg-img {
        top: 80px;
    }

    .home-blur {
        top: 80px;
        width: 70%;

    }

    .flex-wraper {
        margin-left: 5px;
    }
    
    .services-body {
        padding-right: 12px;
    }

    .pros-content {
        flex-direction: column;
        margin-top: 0px;
    }

    .pros-content-item {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .pros-title {
        padding-bottom: 40px;
    }

    .about_us-black {
        width: 130%;
    }

    .info__line {
        flex-direction: column;
        align-items: center;
        margin-right: 100px;
    }

    .pros-img1 {
        margin-right: 73px;
    }

    .pros-img3 {
        margin-right: 70px;
    }

    .pros-img4 {
        margin-right: 57px;
    }

    .portfolio-item {
        height: 320px;
    }

    .portfolio-item-image {
        margin: 15px 15px 20px 15px;
    }

    .portfolio-item-text, 
    .portfolio-item-more {
        margin-left: 15px;
        font-size: 16px;
    }

    .portfolio {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .form-content {
        padding-bottom: 70px;
    }

    .form-content-title {
        padding-left: 155px;
    }

    .form-input {
        margin: 40px 0;
    }

    .form-data2 {
        margin-top: 0;
    }

    .footer-img {
        display: none;
    }

    .footer-col-2 {
        flex-direction: column;
        margin-left: 50%;
        margin-top: 18px;
    }

    .footer-logo {
        margin-left: 58%;
    }

    .footer-link1 {
        line-height: 70px;
        font-size: 22px;
    }

    .footer-list1 {
        margin-left: 40%;
        width: 200px;
    }

    .footer-map-tab {
        display: block;
        margin-top: 15px;
    }

    #btn-next {
        margin-left: 10px;
    }

    #btn-prev {
        margin-right: 10px;
    }
}

@media screen and (max-width: 767px) {
    
    .container {
        width: 540px;
    }

    .home-blur {
        width: 93%;
    }

    .services-container {
        flex-direction: column;
    }

    .services {
        padding-top: 150px;
    }

    .services-body {
        padding-bottom: 40px;
    }

    .services-title {
        padding-bottom: 35px;
        text-align: center;
    }

    .services-list {
        margin: 0 auto;
    }

    .pros-content-item {
        width: 90%;
    }

    .about_us-black {
        width: 160%;
        opacity: 0.8;
    }

    .info__item {
        margin-bottom: 20px;
    }

    .info__line {
        margin-right: 30%;
    }

    .form-content-title {
        padding-left: 20%;
    }

    .form-data1,
    .form-data2 {
        margin-left: 20%;
    }

    .form-btn {
        margin-left: 33%;
    }

    .footer-col-2 {
        margin-left: 30%;
    }
}

@media screen and (max-width: 575px) {
    
    .container {
        width: 100%;
    }

    .home-blur {
        width: 90%;
        margin-left: 5%;
    }

    .home-heading {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        margin: 0 auto;
        max-width: 259px;
    }

    .home-text {
        font-size: 14px;
        line-height: 17px;
        max-width: 253px;
        text-align: center;
        margin: 0 auto;
    }

    .home-info {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .home-item {
        width: 161px;
        height: 51px;
        margin-top: 6px;
        margin-bottom: 6px;
        font-size: 14px;
        line-height: 16px;
    }

    .home-item span {
        font-size: 13px;
        line-height: 15px;
        margin-top: 10px;
    }

    .home-item p {
        margin: 7px auto;
    }

    .btn {
        font-weight: 300;
        font-size: 16px;
    }

    .home-btn {
        margin: 0 auto;
        margin-top: 50px;
    }

    .slide {
        width: 258px;
        height: 380px;
    }

    .services-title {
        font-size: 22px;
    }

    .services-list {
        font-size: 14px;
        line-height: 130%;
    }

    .services-menu {
        margin-left: 17%;
    }

    .pros-subtitle {
        font-size: 18px;
    }

    .pros-text {
        font-size: 13px;
    }

    .pros-img1 {
        margin-right: 33px;
        margin-top: 55px;
    }

    .pros-img1 img {
        width: 50px;
    }

    .pros-img2 {
        margin-right: 18px;
        margin-left: 8%;
    }

    .pros-img2 img {
        width: 70px;
    }

    .pros-img3 {
        margin-right: 18px;
    }

    .pros-img3 img {
        width: 80px;
        margin-top: 20px;
    }

    .pros-img4 {
        margin-right: 25px;
        margin-top: 50px;
        margin-left: 20px;
    }

    .pros-img4 img {
        width: 70px;
    }

    .pros-content-item {
        height: 170px;
    }

    .pros {
        padding-bottom: 60px;
    }

    .pros-title {
        font-size: 22px;
        padding-top: 80px;
    }

    .about-list-item {
        word-wrap: break-word;
    }

    .about_us-content {
        width: 100%;
    }

    .about_us-list,
    .about_us-text {
        font-size: 14px;
    }

    .about_us-title {
        font-size: 22px;
        padding-top: 100px;
    }

    .about_us-list {
        padding-bottom: 100px;
    }

    .info {
        padding-top: 80px;
        padding-bottom: 55px;
    }

    .info__title {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .info__line {
        margin-right: 80%;
    }

    .portfolio-title {
        font-size: 22px;
    }

    .portfolio-line {
        flex-direction: column;
        margin-bottom: 0;
    }

    .portfolio-item {
        width: 90%;
        margin: 0 5%;
        margin-bottom: 20px;
    }

    .form-content-title {
        font-size: 18px;
        padding-left: 0;
        text-align: center;
        margin-bottom: 0;
    }

    .form-data1,
    .form-data2 {
        margin-left: 5%;
    }

    .form-input {
        width: 90%;
    }

    .form-btn {
        margin: 0 auto;
    }

    .form-content {
        padding-bottom: 30px;
    }

    .footer {
        margin-top: 0;
        background-color: #fff;
    }

    .footer-logo {
        margin-left: 55%;
        margin-top: 0;
        color: #000;
        font-size: 22px;
    }

    .footer-list1 {
        width: 140px;
        margin-left: 20%;
    }

    .footer-link1 {
        line-height: 50px;
        font-size: 14px;
        color: #000;
    }

    .footer-link2,
    .footer-link4 {
        font-size: 14px;
        color: #000;
    }

    .footer-link3 {
        font-size: 14px;
        color: #fff;
    }

    .footer-list2 {
        line-height: 17px;
    }

    .footer-col-2 {
        margin-left: 10%;
        margin-top: 10px;
    }

    .footer-info {
        margin-top: 20px;
    }

    .footer-map-tab {
        display: none;
    }

    .footer-map-mob {
        display: block;
        margin-top: 20px;
    }

    .popup-content {
        width: 90%;
        margin: 0 5%;
    }

    .popup-title {
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 18px;
        line-height: 40px;
        padding: 55px 86px 32px 90px;
    }
    
    .popup-in {
        padding: 12px 25px;
    }

    .popup-input {
        width: 98%;
    }

    .popup-btn {
        margin: 36px 52px 55px 60px;
    }

    .popup-comp-title {
        padding: 55px 47px 32px 47px;
    }

    .popup-comp-text {
        font-size: 16px;
    }

    .popup-close {
        margin-left: 90%;
    }
}